/*
@font-face {
  font-family: 'example';
  font-weight: normal;
  font-style: normal;
  src: local('example'),
      url('./fonts/example.woff2') format('woff2'),
      url('./fonts/example.woff') format('woff'),
      url('./fonts/example.ttf') format('truetype');
}
*/
